{% extends "base.html" %}

{% block title %}
    Upload File
{% endblock %}

{% block content %}

    <div class="container theme-showcase" style="min-height: 600px">
        <h1>Upload File</h1>

        <form id="upload_form" action="/file/upload" method="post" enctype="multipart/form-data">
            <input id="input_file" type="file" name="md_file" accept=".md"><br>
            <input id="submit" type="submit" value="Upload" class="btn btn-default">
        </form>
        <p>The pages are generated automatically, Give one second and then will return main page.</p>
		<p>If something is wrong, You can refress the page by F5.</p>

    </div>
{% endblock %}
